
body	{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #af1aa0;
}

.wrapper {
	width: 600px;
	margin: 50px auto;
	padding: 20px;
}

.recipes-container ul li {
	list-style-type: none;
	width: 400px;
	height: 90px;
	padding: 15px;
	background-color: #edeaea;
	font-size: 16px;
	border-bottom: 4px solid #fff;
}
.single-recipe {
	width: 400px;
	height: 90px;
	background-color: #eae5e5;
	padding: 15px;
}

h1	{
	font-weight: bolder;
	height: 20px;
	color: #000;
}